body {
    background: black;
    margin: 0 auto;
    font-family: "Retro Gaming";
}

nav {
    position: relative;
    align-items: center;
    margin-left: 1rem;
    width: 95%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 33rem;
    margin-right: 33rem;
}

h2 {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

#circles {
    height: 1%;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

#greenCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #41E091;
    border: 0.3rem solid #17B968;
    opacity: 0.3;
}

#redCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #EB4343;
    border: 0.3rem solid #CE3232;
}

#yellowCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FCE72E;
    border: 0.3rem solid #E6D115;
    opacity: 0.3;
}

#blueCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #4499FB;
    border: 0.3rem solid #2774CC;
}

.brand-container {
    display: flex;
    position: relative;
    width: 20rem;
    height: 35rem;
    margin-left: 4rem;
    margin-top: 5rem;
    overflow-y: scroll;
    flex-direction: column;
}

h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 0.1rem;
    cursor: pointer;
}

h3:hover {
    color: #F0A71D;
    transition: all 0.2s ease-in-out;
}

.type-container {
    display: flex;
    position: fixed;
    margin-left: 23rem;
    bottom: 5rem;
    width: 78%;
}

.type {
    font-size: 1.5rem;
    margin: 1rem;
    width: 100%;
    height: 40rem;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

h4 {
    color: white;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

h5 {
    color: white;
    font-size: 3rem;
    z-index: 3;
}

#upperbox {
    position: absolute;
    background: rgb(78,75,240);
    background: linear-gradient(180deg, rgba(78,75,240,1) 16%, rgba(0,0,0,0) 100%);
    width: 15%;
    height: 4rem;
    left: 3rem;
    top: 16rem;
    z-index: 2;
}

#bottombox {
    position: absolute;
    background: rgb(78,75,240);
    background: linear-gradient(0deg, rgba(78,75,240,1) 16%, rgba(0,0,0,0) 100%);
    width: 15%;
    height: 4rem;
    left: 3rem;
    bottom: 8rem;
    z-index: 2;
}

#upperarrow {
    transform: rotate(-90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -1rem;
    margin-top: -0.8rem;
}

#bottomarrow {
    transform: rotate(90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
}

#home-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 56rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
