body {
    /* background: #D0CFCA; */
    background: #acd3ec;
    margin: 0 auto;
}

nav {
    font-family: "Retro Gaming";
    margin: -1rem 1rem auto -1.5rem;
    z-index: 2;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    position: relative;
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3rem;
    text-align: right;
    z-index: 2;
}

h2 {
    position: relative;
    color: white;
    font-size: 2rem;
    text-align: left;
    line-height: 2rem;
    margin-right: 70rem;
    z-index: 2;
}

main {
    position: absolute;
    margin-top: -9rem;
    margin-left: 39rem;
    z-index: 2;
}

#button-container {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    transform: rotate(45deg);
}

h3 {
    position: flex;
    font-family: "Pixeled";
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #898989;
    font-size: 2.5rem;    
    line-height: 4rem;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: 3rem;
    left: -2rem;
}

input {
    width: 2rem;
    height: 2rem;
}

button {
    border-radius: 50%;
    position: absolute;
    margin: -12rem auto auto 12.4rem;
    width: 6rem;
    height: 6rem;
    background: rgb(175, 175, 175);
    border: none;
}

#home-button {
    width: 9rem;
    height: 9rem;
    margin: -1.5rem auto auto -1.5rem;
    align-items: center;
}

#greenCircle {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: inline-block;
    background: #86D38F;
    border: 0.5rem solid #69B972;
}

#greenCircle:hover {
    box-shadow: 0px 0px 30px #69B972;
}

#redCircle {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: inline-block;
    background: #E35748;
    border: 0.5rem solid #B63D30;
    white-space: pre-wrap;
}

#redCircle:hover {
    box-shadow: 0px 0px 30px #B63D30;
}

#yellowCircle {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: inline-block;
    background: #FEE615;
    border: 0.5rem solid #CDB805;
    white-space: pre-wrap;
}

#yellowCircle:hover {
    box-shadow: 0px 0px 30px #CDB805;
}

#blueCircle {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: inline-block;
    background: #518DD3;
    border: 0.5rem solid #3D75B6;
    white-space: pre-wrap;
}

#blueCircle:hover {
    box-shadow: 0px 0px 30px #3D75B6;
}

#animation-container {
    position: relative;
    z-index: 1;
}

#cloud-one-animation {
    animation: go-left-right 7s linear 1s infinite;
    position: absolute;
    width: 20%;
    top: -7rem;
}

@keyframes go-left-right { 
    from { left: -25rem; }
    to { left: calc(100% - -5rem); }
}

#cloud-two-animation {
    animation: go-right-left 10s linear 1s infinite;
    position: absolute;
    width: 20%;
    top: -13rem;
}

@keyframes go-right-left { 
    from { left: -25rem; }
    to { left: calc(100% - -5rem); }
}

#cloud-three-animation {
    animation: go-right-left 15s linear 1s infinite;
    position: absolute;
    width: 30%;
    top: -7rem;
}

@keyframes go-right-left { 
    from { left: -25rem; }
    to { left: calc(100% - -5rem); }
}


#fornow {
    position: absolute;
    font-size: 1.5rem;
    top: 50rem;
    left: 15rem;
    display: grid;
    grid-template-columns: 1, 1fr;
}
