@font-face {
    font-family: "Retro Gaming";
    src: url("./assets/fonts/retro-gaming.ttf") format("truetype"); 
}

body {
    /* background: #D0CFCA; */
    background: #ade0ff;
    margin: 0 auto;
    font-family: "Retro Gaming", sans-serif;
}

nav {
    margin: -1rem 1rem auto -1.5rem;
    z-index: 2;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    position: relative;
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3rem;
    text-align: right;
    z-index: 2;
}

h2 {
    position: relative;
    color: white;
    font-size: 2rem;
    text-align: left;
    line-height: 2rem;
    margin-right: 70rem;
    z-index: 2;
}

a {
    text-decoration: none;
}

h4 {
    position: fixed;
    color: #4E4BF0;
    font-size: 5rem;
    text-align: left;
    margin-left: 3rem;
    margin-top: 45rem;
}

main {
    position: fixed;
    margin-top: -9.5rem;
    margin-left: 39rem;
    z-index: 2;
}

#button-container {
    width: 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    transform: rotate(45deg);
}

h3, label {
    display: flex;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #898989;
    font-size: 4.2rem;    
    line-height: 4rem;
    text-align: center;
}

img {
    position: absolute;
    display: flex;
    width: 20%;
    align-items: center;
    margin-top: 28rem;
    margin-left: 11.6rem;
    z-index: 2;
}

.button-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
  
.button-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}
  
input {
    padding: 0;
    width: 18rem;
    height: 18rem;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
  
label {
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    cursor: pointer;
}
  
label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
}

/* this is the style when the button is clicked */
#chkTimeframe:checked + label:before {
    background: #0C934F;
}

#chkBrand:checked + label:before {
    background: #A42626;
}

#chkSize:checked + label:before {
    background: #C6B51C;
}

#chkType:checked + label:before {
    background: #074E9F;
}

.greenCircle {
    background: #44d48c;
    border: 0.5rem solid #17B968;
    white-space: pre-wrap;
}

.redCircle {
    background: #EB4343;
    border: 0.5rem solid #CE3232;
    white-space: pre-wrap;
}

.yellowCircle {
    background: #FCE72E;
    border: 0.5rem solid #E6D115;
    white-space: pre-wrap;
}

.blueCircle {
    background: #4499FB;
    border: 0.5rem solid #2774CC;
    white-space: pre-wrap;
}

.greenCircle:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #63d19a, 0 0 50px #63d19a, 0 0 60px #63d19a, 0 0 70px #63d19a;
}

.redCircle:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f14d4d, 0 0 50px #f14d4d, 0 0 60px #f14d4d, 0 0 70px #f14d4d;
}

.yellowCircle:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffec46, 0 0 50px #ffec46, 0 0 60px #ffec46, 0 0 70px #ffec46;
}

.blueCircle:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #4b8fdd, 0 0 50px #4b8fdd, 0 0 60px #4b8fdd, 0 0 70px #4b8fdd;
}

#animation-container {
    position: relative;
    top: -2rem;
    z-index: 1;
}

#cloud-top-animation {
    animation: left-right 7s linear infinite;
    width: 20%;
    top: -40rem;
}

@keyframes left-right { 
    0%   { transform: translateX(-25rem); }
    100%  { transform: translateX(100rem); }
}

#cloud-middle-animation {
    animation: right-left-one 10s linear infinite;
    width: 20%;
    top: -30rem;
}

@keyframes right-left-one { 
    0%   { transform: translateX(-25rem); }
    100%  { transform: translateX(100rem); }
}

#cloud-bottom-animation {
    animation: right-left-two 15s linear infinite;
    width: 30%;
    top: -30rem;
}

@keyframes right-left-two { 
    0%   { transform: translateX(-25rem); }
    100%  { transform: translateX(100rem); }
}

@media only screen and (max-width: 812px) { 

    nav {
        margin: -1rem 1rem auto -1.5rem;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    
    h2 {
        font-size: 1.2rem;
        line-height: 1.2rem;
        margin-right: 30rem;
    }
    
    h4 {
        font-size: 3rem;
        margin-left: 1.2rem;
        margin-top: 13rem;
    }
    
    main {
        margin-top: -8rem;
        margin-left: 18rem;
    }
    
    #button-container {
        grid-gap: 1rem;
    }
    
    h3, label {
        -webkit-text-stroke-width: 1px;
        font-size: 1.7rem;    
        line-height: 1.7rem;
    }
      
    input {
        width: 7.5rem;
        height: 7.5rem;
    }
      
    label {
        width: 7.5rem;
        height: 7.5rem;
    }
      
    label:before {
        width: 7.5rem;
        height: 7.5rem;
    }

    .greenCircle {
        border: 0.3rem solid #17B968;
    }
    
    .redCircle {
        border: 0.3rem solid #CE3232;
    }
    
    .yellowCircle {
        border: 0.3rem solid #E6D115;
    }
    
    .blueCircle {
        border: 0.3rem solid #2774CC;
    }

    img {
        width: 20%;
        margin-top: 11.8rem;
        margin-left: 4.9rem;
    }

    #animation-container {
        top: 0rem;
    }
    
    #cloud-top-animation {
        animation: left-right 13s linear infinite;
        width: 16%;
        top: -18rem;
    }
    @keyframes left-right { 
        0%   { transform: translateX(-20rem); }
        100%  { transform: translateX(45rem); }
    }
    
    #cloud-middle-animation {
        animation: right-left-one 17s linear infinite;
        width: 16%;
        top: -16rem;
    }
    @keyframes right-left-one { 
        0%   { transform: translateX(-20rem); }
        100%  { transform: translateX(45rem); }
    }

    #cloud-bottom-animation {
        animation: right-left-two 20s linear infinite;
        width: 23%;
        top: -14rem;
    }
    @keyframes right-left-two { 
        0%   { transform: translateX(-20rem); }
        100%  { transform: translateX(45rem); }
    }
}