body {
    background: black;
    margin: 2rem;
}

h1 {
    position: relative;
    font-family: "Retro Gaming";
    color: #4E4BF0;
    border: 1rem;
    font-size: 15rem;
    line-height: 15rem; 
    text-align: center;
    top: -1rem;
}

#start {
    position: relative;
    font-family: "Retro Gaming";
    color: white;
    font-size: 5rem;
    text-decoration: none;
    text-align: center;
    top: -1rem;
    left: 30rem;
}

#start:hover {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #97958C;
}

