body {
    background: black;
    margin: 0 auto;
    font-family: "Retro Gaming";
}

nav {
    margin: -1rem 1rem auto -2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    color: #4E4BF0;
    font-size: 3rem;
    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
}

h2 {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

#circles {
    height: 1%;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

#greenCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #86D38F;
    border: 0.3rem solid #69B972;
}

#redCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #E35748;
    border: 0.3rem solid #B63D30;
}

#yellowCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FEE615;
    border: 0.3rem solid #CDB805;
    opacity: 0.5;
}

#blueCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #518DD3;
    border: 0.3rem solid #3D75B6;
    opacity: 0.5;
}

.brand-container {
    display: flex;
    position: relative;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 20rem;
    height: 37rem;
    overflow-y: scroll;
    flex-direction: column;
}

h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 0.1rem;
}

h3:hover {
    color: #F0A71D;
    transition: all 0.2s ease-in-out;
}

.year-container {
    display: flex;
    position: fixed;
    margin-left: 27rem;
    bottom: 6rem;
    width: 70%;
    height: 80rem;
    overflow: scroll;
}

.year {
    font-size: 1.5rem;
    margin: 0.1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

h4 {
    color: white;
    margin-top: 1rem;
}

img {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
    margin-top: 1rem;
}

img:hover {
    position: fixed;
    display: block;
    width: 30rem;
    height: 30rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: white;
    box-shadow: 1rem 1rem 5rem rgb(163, 163, 163);
    z-index: 3;
}

#home-bar {
    display: block;
    background: linear-gradient(180deg, rgba(7,12,73,1) 0%, rgba(62,72,204,0.7) 14%, rgba(84,96,255,0.7) 28%, rgba(52,61,183,0.65) 58%, rgba(0,5,70,0.1) 100%);
    width: 100%;
    height: 5.3rem;
    margin-top: 6rem;
}

#home-bar img {
    width: 6%;
    display: block;
    margin: auto;
    pointer-events: none;
}

h5 {
    color: white;
    font-size: 3rem;
    z-index: 3;
}

#upperbox {
    position: absolute;
    background: rgb(180,101,0);
    background: linear-gradient(180deg, rgba(180,101,0,0.7) 0%, rgba(251,145,9,0) 100%);
    width: 15%;
    height: 4rem;
    left: 2rem;
    bottom: 45rem;
    z-index: 2;
}


#upperarrow {
    transform: rotate(-90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -1rem;
    margin-top: -0.8rem;
}

#bottombox {
    position: absolute;
    background: rgb(180,101,0);
    background: linear-gradient(180deg, rgba(180,101,0,0.7) 0%, rgba(251,145,9,0) 100%);
    width: 15%;
    height: 4rem;
    left: 2rem;
    bottom: 9rem;
    transform: rotate(180deg);
    z-index: 2;
}

#bottomarrow {
    transform: rotate(-90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -1rem;
    margin-top: -0.5rem;
}