@font-face {
    font-family: "Retro Gaming";
    src: url("./assets/fonts/retro-gaming.ttf") format("truetype"); 
}
body {
    background: black;
    margin: 0 auto;
    font-family: "Retro Gaming", sans-serif;
}


nav {
    position: relative;
    align-items: center;
    margin-left: 1.5rem;
    width: 95%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
}

h2 {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

#circles {
    height: 1%;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

#greenCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #41E091;
    border: 0.3rem solid #17B968;
}

#redCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #EB4343;
    border: 0.3rem solid #CE3232;
    opacity: 0.3;
}

#yellowCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FCE72E;
    border: 0.3rem solid #E6D115;
}

#blueCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #4499FB;
    border: 0.3rem solid #2774CC;
    opacity: 0.3;
}

.year-container {
    display: flex;
    position: relative;
    text-align: center;
    width: 6rem;
    height: 35rem;
    margin-left: 5.5rem;
    margin-top: 5rem;
    overflow-y: scroll;
    flex-direction: column;
}

h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 0.1rem;
    cursor: pointer;
}

h3:hover {
    color: #F0A71D;
    transition: all 0.2s ease-in-out;
}

.active h3 {
    color: #F0A71D;
}

#topbox {
    position: absolute;
    background: rgb(78,75,240);
    background: linear-gradient(180deg, rgba(78,75,240,1) 16%, rgba(0,0,0,0) 100%);
    width: 10%;
    height: 4rem;
    left: 3rem;
    top: 16rem;
    z-index: 2;
}

#bottombox {
    position: absolute;
    background: rgb(78,75,240);
    background: linear-gradient(0deg, rgba(78,75,240,1) 16%, rgba(0,0,0,0) 100%);
    width: 10%;
    height: 4rem;
    left: 3rem;
    bottom: 8rem;
    z-index: 2;
}

#toparrow {
    font-size: 2rem;
    transform: rotate(-90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -0.1rem;
    margin-top: -0.5;
    cursor: pointer;
}

#bottomarrow {
    font-size: 2rem;
    transform: rotate(90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -0.1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

#leftbox {
    position: absolute;
    background: rgba(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    width: 8rem;
    height: 25rem;
    left: 26rem;
    bottom: 19rem;
    z-index: 2;
}

#rightbox {
    position: absolute;
    background: rgba(0,0,0);
    background: linear-gradient(-90deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    width: 8rem;
    height: 25rem;
    right: 5rem;
    bottom: 19rem;
    z-index: 2;
}

#leftarrow {
    transform: rotate(180deg);
    font-size: 3rem;
    position: relative;
    margin: auto;
    margin-left: -6rem;
    margin-top: 13rem;
    text-align: center;
    cursor: pointer;
}

#rightarrow {
    font-size: 3rem;
    position: relative;
    margin: auto;
    margin-left: 6rem;
    margin-top: 13rem;
    text-align: center;
    cursor: pointer;
}

.size-container {
    width: 75rem;
    height: 48rem;
    margin-left: 29rem;
    margin-top: -31rem;
    display: flex;
    position: fixed;
    overflow: scroll;
}

.size {
    margin: 0.1rem;
    padding: 0.5rem;
    display: flex;
}

h4 {
    display: none;
}

img {
    width: 20rem;
    height: 20rem;
    object-fit: scale-down;
    margin: 0.5rem;
}

h5 {
    color: white;
    font-size: 2rem;
}

#small {
    margin-left: 25rem;
    margin-top: -8rem;
}

#large {
    margin-left: 100rem;
    margin-top: -6rem;
}

#home-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 56rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media only screen and (max-width: 812px) {

    nav {
        margin-top: -0.5rem;
        margin-left: 10rem;
        width: 55%;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 11rem;
        margin-right: 14rem;
    }

    h2 {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    #circles {
        height: 1%;
        grid-gap: 0.2rem;
    }
    
    #greenCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #17B968;
    }
    
    #redCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #CE3232;
    }
    
    #yellowCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #E6D115;
    }
    
    #blueCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #2774CC;
    }

    .year-container {
        width: 6rem;
        height: 14rem;
        margin-left: 2rem;
        margin-top: -0.5rem;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: -0.5rem;
    }

    #topbox {
        width: 6rem;
        height: 2rem;
        left: 2rem;
        top: 6rem;
    }
    
    #bottombox {
        width: 6rem;
        height: 2rem;
        left: 2rem;
        bottom: 2rem;
    }
    
    #toparrow {
        font-size: 1.5rem;
        margin-top: -0.5;
    }
    
    #bottomarrow {
        font-size: 1.5rem;
        margin-top: 0.2rem;
    }
    
    #rightbox {
        width: 3rem;
        height: 11rem;
        right: 2.5rem;
        bottom: 5rem;
    }
    
    #leftbox {
        width: 3rem;
        height: 11rem;
        left: 13rem;
        bottom: 5rem;
    }
    
    #leftarrow {
        font-size: 2.5rem;
        margin-left: -2rem;
        margin-top: 4rem;
    }
    
    #rightarrow {
        font-size: 2.5rem;
        margin-left: 2.5rem;
        margin-top: 4rem;
    }

    .size-container {
        width: 34rem;
        margin-left: 13rem;
        margin-top: -12rem;
    }

    .size {
        margin: 0.1rem;
        padding: 0.5rem;
    }

    img {
        width: 8rem;
        height: 8rem;
        margin: 0.3rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    #small {
        margin-left: 13rem;
        margin-top: -2rem;
    }

    #large {
        margin-left: 43.5rem;
        margin-top: -3.5rem;
    }

    #home-button {
        width: 3.5rem;
        height: 3.5rem;
        top: 19.5rem;
    }
}