body {
    background: black;
    margin: 0 auto;
    font-family: "Retro Gaming";
}

nav {
    position: relative;
    align-items: center;
    margin-left: 1rem;
    width: 95%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 33rem;
    margin-right: 33rem;
}

h2 {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

#circles {
    height: 1%;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

#greenCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #41E091;
    border: 0.3rem solid #17B968;
    opacity: 0.3;
}

#redCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #EB4343;
    border: 0.3rem solid #CE3232;
    opacity: 0.3;
}

#yellowCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FCE72E;
    border: 0.3rem solid #E6D115;
}

#blueCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #4499FB;
    border: 0.3rem solid #2774CC;
}

.type-container {
    margin-left: 4rem;
    margin-top: 5rem;
    width: 10rem;
}

h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    cursor: pointer;
}

h3:hover {
    color: #F0A71D;
    transition: all 0.2s ease-in-out;
}

.active h3 {
    color: #F0A71D;
}

.size-container {
    width: 75rem;
    height: 48rem;
    margin-left: 30rem;
    margin-top: -31rem;
    display: flex;
    position: fixed;
    overflow: scroll;
}

.size {
    margin: 0.1rem;
    padding: 0.5rem;
    display: flex;
}

img {
    width: 20rem;
    height: 20rem;
    object-fit: scale-down;
    margin: 1rem;
}

h4 {
    display: none;
}

h5 {
    color: white;
    font-size: 2rem;

}

#small {
    margin-left: 25rem;
    margin-top: -8rem;
}

#large {
    margin-left: 102rem;
    margin-top: -6rem;
}

h6 {
    color: white;
    font-size: 3rem;
    z-index: 3;
}

#leftbox {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 38%, rgba(0,0,0,0.39) 71%, rgba(0,0,0,0) 100%);
    width: 20%;
    height: 8rem;
    left: 19em;
    bottom: 25rem;
    transform: rotate(-90deg);
    z-index: 2;
}

#rightbox {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 38%, rgba(0,0,0,0.39) 71%, rgba(0,0,0,0) 100%);
    width: 20%;
    height: 8rem;
    right: -5rem;
    bottom: 25rem;
    transform: rotate(90deg);
    z-index: 2;
}

#leftarrow {
    font-size: 4rem;
    transform: rotate(90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -1rem;
    margin-top: -2rem;
    cursor: pointer;
}

#rightarrow {
    font-size: 4rem;
    transform: rotate(-90deg);
    position: relative;
    text-align: center;
    margin: auto;
    margin-left: -1rem;
    margin-top: -0.5rem;
    cursor: pointer;
}

#home-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 56rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}