@font-face {
    font-family: "Retro Gaming";
    src: url("./assets/fonts/retro-gaming.ttf") format("truetype"); 
}

body {
    background: black;
    margin: 0 auto;
    font-family: "Retro Gaming", sans-serif;
}

nav {
    position: relative;
    align-items: center;
    margin-left: -1rem;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline-block;
}

h1 {
    color: #4E4BF0;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    margin-left: 23rem;
    margin-right: 31rem;
}

h2 {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
}

#circles {
    height: 1%;
    transform: rotate(45deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

#greenCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #4edd8e;
    border: 0.3rem solid #17B968;
}

#redCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #EB4343;
    border: 0.3rem solid #CE3232;
    opacity: 0.3;
}

#yellowCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FCE72E;
    border: 0.3rem solid #E6D115;
    opacity: 0.3;
}

#blueCircle {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: inline-block;
    background: #4499FB;
    border: 0.3rem solid #2774CC;
}

.brand-container {
    display: flex;
    position: relative;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 20rem;
    height: 37rem;
    overflow-y: scroll;
    flex-direction: column;
}

.type-container {
    margin-left: 4rem;
    margin-top: 5rem;
    width: 10rem;
}

h3 {
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

h3:hover {
    color: #F0A71D;
    transition: all 0.2s ease-in-out;
}

.active h3 {
    color: #F0A71D;
}

.year-container {
    display: flex;
    position: fixed;
    right: 7rem;
    bottom: 9rem;
    width: 70%;
    height: 37rem;
    overflow-x: scroll;
    cursor: ew-resize;
}

.year {
    font-size: 1.5rem;
    margin: 0.1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
}

h4 {
    color: white;
    margin-top: 2.5rem;
}

h5 {
    color: white;
    font-size: 3rem;
    z-index: 3;
}

#timelinebar {
    border-top: 0.4rem solid white;
    width: 89rem;
    margin-top: -1.5rem;
    margin-left: 22rem;
}

#leftbox {
    position: absolute;
    background: rgba(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    width: 8rem;
    height: 30rem;
    left: 21rem;
    bottom: 7rem;
    z-index: 2;
}

#rightbox {
    position: absolute;
    background: rgba(0,0,0);
    background: linear-gradient(-90deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
    width: 8rem;
    height: 30rem;
    right: 1rem;
    bottom: 7rem;
    z-index: 2;
}

#leftarrow {
    position: relative;
    margin: auto;
    margin-left: -2rem;
    margin-top: 13rem;
    text-align: center;
    cursor: pointer;
}

#rightarrow {
    position: relative;
    margin: auto;
    margin-left: 2rem;
    margin-top: 13rem;
    text-align: center;
    cursor: pointer;
}

img {
    width: 5rem;
    height: 5rem;
    object-fit: scale-down;
    margin-bottom: -0.6rem;
}

img:hover {
    position: fixed;
    display: block;
    width: 30rem;
    height: 30rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: white;
    box-shadow: 1rem 1rem 5rem rgb(163, 163, 163);
    z-index: 3;
}

#home-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    display: block;
    top: 56rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: none;
    background: transparent;
}

@media only screen and (max-width: 812px) {

    nav {
        margin-top: -0.5rem;
        margin-left: 10rem;
        width: 55%;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-left: 11rem;
        margin-right: 14rem;
    }

    h2 {
        font-size: 1.1rem;
        line-height: 1.3rem;
    }

    #circles {
        height: 1%;
        grid-gap: 0.2rem;
    }
    
    #greenCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #17B968;
    }
    
    #redCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #CE3232;
    }
    
    #yellowCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #E6D115;
    }
    
    #blueCircle {
        width: 1.2rem;
        height: 1.2rem;
        border: 0.1rem solid #2774CC;
    }

    .type-container {
        margin-left: 2rem;
        margin-top: 0.5rem;
        width: 8rem;
    }
    
    h3 {
        font-size: 1.1rem;
        line-height: 1.3rem;
        margin-bottom: -0.5rem;
    }
    
    .year-container {
        right: 3rem;
        bottom: 3rem;
        width: 60%;
        height: 13.5rem;
    }
    
    .year {
        margin: -0.2rem;
    }
    
    h4 {
        margin-top: 0.8rem;
        font-size: 1.1rem;
    }
    
    #timelinebar {
        border-top: 0.3rem solid white;
        width: 33rem;
        margin-top: -4.5rem;
        margin-left: 16rem;
    }
    
    #rightbox {
        width: 3rem;
        height: 13rem;
        right: 1rem;
        bottom: 3rem;
    }
    
    #leftbox {
        width: 3rem;
        height: 13rem;
        left: 15rem;
        bottom: 3rem;
    }
    
    #leftarrow {
        font-size: 3rem;
        margin-left: -1rem;
        margin-top: 4rem;
    }
    
    #rightarrow {
        font-size: 3rem;
        margin-left: 1rem;
        margin-top: 4rem;
    }
    
    img {
        width: 3rem;
        height: 3rem;
        margin-bottom: -0.2rem;
    }
    
    img:hover {
        width: 10rem;
        height: 10rem;
    }
    
    #home-button {
        width: 3.5rem;
        height: 3.5rem;
        top: 19.5rem;
    }
}