@font-face {
    font-family: "Outward Border";
    src: url("./assets/fonts/outward-borders-webfont.woff2") format("woff2");
}

body {
    background: gray;
    margin: 2rem;
    font-family: "Retro Gaming";
}

h1 {
    position: relative;
    font-family: "Outward Border";
    color: #4E4BF0;
    font-size: 4rem;
    text-align: center;
    top: -0.5rem;
}

h2 {
    position: absolute;
    font-family: "Retro Gaming";
    color: white;
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    top: 1rem;
}

h3 {
    color: white;
    font-size: 1.5rem;
    line-height: 1.6rem;
}

h3:hover {
    color: #F0A71D;
}

h4 {
    color: black;
    font-size: 1.5rem;
}

img {
    width: 10%;
}

i:hover {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #97958C;
}

#circles {
    position: absolute;
    width: 5%;
    transform: rotate(45deg);
    top: 3rem;
    right: 2rem;
    z-index: 1;
}

#greenCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #86D38F;
    border: 0.3rem solid #69B972;
}

#redCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #E35748;
    border: 0.3rem solid #B63D30;
}

#blueCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #518DD3;
    border: 0.3rem solid #3D75B6;
}

#yellowCircle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: #FEE615;
    border: 0.3rem solid #CDB805;
}

i {
    position: relative;
    top: 13rem;
}

#fornow {
    position: relative;
    top: 13rem;
    align-items: right;
}