@font-face {
    font-family: "Outward Border";
    src: url("./assets/fonts/outward-borders-webfont.woff2") format("woff2");
}

body {
    background: black;
    margin: 2rem;
}

h1 {
    position: relative;
    font-family: "Outward Border";
    color: #4E4BF0;
    border: 1rem;
    font-size: 35rem;
    text-align: center;
    top: -8rem;
}

#start {
    position: relative;
    font-family: "Retro Gaming";
    color: white;
    font-size: 4rem;
    text-decoration: none;
    text-align: center;
    top: -27rem;
    left: 37rem;
}

#start:hover {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #97958C;
}

